@model LibraryManagement.Models.Book
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>

<div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Publication)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Publication)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Branch)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Branch)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Quantity)  
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Quantity)
                </dd>  
               </dl>
            </div>
        <div class="col-md-6">
            <table class="table  class= col-md-4">
                <thead>
                    <tr>
                        <th>Books</th>    
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if( @ViewBag.bookList != null)
                    {
                        @foreach ( BooksPartial item in @ViewBag.bookList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookNumber)
                                    </td> 
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                    <form asp-action="Remove" asp-route-id="@item.Id" method="post">
                                        <div class="form-group d-inline-block">                                                        
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </div>
                                    </form>
                                    </td>
                                </tr>
                            }
                    }       
                    @if( @ViewBag.bookList.Count == 0)
                    {
                        <a asp-action="AddBooks" asp-route-id="@Model.BookId" class="btn btn-primary mx-3">AddBooks</a>
                    }
                </tbody>
             </table>
         </div>
    </div>
</div>
<td>
 
    <a asp-action="Update" asp-route-id="@Model.BookId" class="btn btn-light mx-3">Edit</a>    
    <form asp-action="Delete" asp-route-id="@Model.BookId" method="post">
        <div class="form-group">            
            @Html.HiddenFor(model => model.BookId)
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </form> 

</td>
<br />
<p>
    <a href="/">Back to list</a>
</p>

